<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logoDisplay.png" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>SkillConnect - Profile</title>
  </head>
  <body>
    <div class="container">
      <div class="user">
        <img src="<%= result[0].image ? '/home/profile/image/' + result[0].id +
        "?table=teacher" : '/images/user.png' %>" alt="Teacher Profile Image"
        class="photo" />
        <div class="info">
          <h1>About</h1>
          <h3><i>Username:&nbsp; </i><%=result[0].username%></h3>
          <h3><i>FullName:&nbsp; </i><%=result[0].fullname%></h3>
          <h3><i>Subject:&nbsp; </i><%=result[0].subject%></h3>
          <h3><i>Experience:&nbsp; </i><%=result[0].exp%></h3>
        </div>
      </div>
      <div class="profile">
        <div class="rating">
          <h1>Rating</h1>
          <br /><br />
          <h1
            style="
              text-decoration: none;
              text-shadow: 0 0 50px white;
              font-size: 2.5rem;
            "
          >
            <%=result[0].rating%>
          </h1>
          <form method="get" action="/home/rating/<%=result[0].id%>">
            <br />
            <button id="rateBtn">Give Rating</button>
          </form>
        </div>
        <div class="give-feedback">
          <h1>Feedbacks</h1>
          <div id="all-feedbacks">
            <% var count = 0; for (let feedback of feedbacks) { if (result[0].id
            == feedback.id) { %>
            <p style="background-color: lightblue">
              <b>@<%= feedback.username %></b><br />&nbsp;<%=
              feedback.feedback%>
            </p>
            <% count++; } } %> <% if (count == 0) { %>
            <h3 style="text-align: center">Currently No Feedbacks!</h3>
            <% } %>
          </div>
          <form
            method="post"
            action="/home/profile/<%=result[0].id%>/feedback"
            id="fb-form"
          >
            <input
              type="text"
              placeholder="Give your valuable feedback..."
              name="feedback"
              id="fb"
              required
            />
            <button>Submit</button>
          </form>
        </div>
        <div class="feedback">
          <h1>Overall Performance</h1>
          <% if (result[0].rating >= 4.5) { %>
          <h3 class="res">Excellent</h3>
          <% } else if (result[0].rating >= 4) { %>
          <h3 class="res">Very Good</h3>
          <% } else if (result[0].rating >= 3) { %>
          <h3 class="res">Good</h3>
          <% } else if (result[0].rating >= 2) { %>
          <h3 class="res">Fair</h3>
          <% } else if (result[0].rating >= 1) { %>
          <h3 class="res">Poor</h3>
          <% } else { %>
          <h3 class="res">No rating given</h3>
          <% } %>
          <h3><i><%=result[0].rating_count%></i> people have rated this</h3>
        </div>
      </div>
    </div>
  </body>
</html>
